<template>
    <div>

      <navbar/>

      <section class="container posts">
        <div v-for="post in posts" :key="post.attributes['title']" style="max-width:900px; margin:auto; padding-left:10px; padding-right:10px">
          <post-card :post="post"></post-card>
        </div>

        <div class="pagination-buttons">
          <nuxt-link :to="prev_page" class="pagination-link">
            <button v-if="exist_prev_page" class="btn btn-social btn-fill btn-github">
                < página anterior
            </button>
          </nuxt-link>

          <nuxt-link :to="next_page" class="pagination-link">
            <button v-if="exist_next_page" class="btn btn-social btn-fill btn-github">
                siguiente pagina >
            </button>
          </nuxt-link>
        </div>
      </section>

      <myfooter/>

    </div>
</template>

<script>

  export default {
    components: {
    },
    methods: {
    },
    async asyncData({params}) {

      let number_of_post_per_page = 2;

      function compare_dates(post_a, post_b) {
        let a = post_a.attributes['date'];
        let b = post_b.attributes['date'];
        let a_compare_format = a.split('-')[2] + a.split('-')[1] + a.split('-')[0];
        let b_compare_format = b.split('-')[2] + b.split('-')[1] + b.split('-')[0];
        if (a_compare_format>b_compare_format) {
          return -1;
        }
        return 1
      }

      const postsObject = require.context("~/blog/posts/", true, /\.md$/);
      const posts = postsObject.keys().map((key) => { //iterate keys
        postsObject(key)["slug"]= key.slice(2).split('.md')[0]; //we add the slug (slice(2) is for removing "./" chars)
        return postsObject(key);
      });

      let lowest_post = 2*(Number(params.page_number)-1);
      let highest_post = lowest_post + number_of_post_per_page;
      let nex_page = '/page/' + (Number(params.page_number)+Number(1));
      let prev_page = params.page_number==='2' ? "/" : '/page/' + (Number(params.page_number)-Number(1));
      return {
        posts: posts.sort(compare_dates).slice(lowest_post, highest_post),
        exist_next_page : posts.length >= highest_post,
        exist_prev_page : params.page_number !== '1',
        next_page : nex_page,
        prev_page : prev_page,
      }
    },
  }
</script>

<style>
  .pagination-link{
    color:#fcfcfc;
  }
  .pagination-link:hover{
    color:#ccc;
  }
  .pagination-buttons{
    max-width:900px;
    padding-left:10px; padding-right:10px;text-align: center;
    margin: 80px auto;
  }
  .container.posts {
    padding-top:30px;
  }
</style>
