
<template>
  <section style="background-color:#e5e5e5; box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15); text-align:center">
    <div class="container">
      <div class="row">
        <div class="col-md-12" v-html="content.default">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      content: {
        options: Object,
      }
    }
  }
</script>
