
<template>
  <section style="background-color:#e5e5e5; text-align:center" v-if="content.default.replace(/(\r\n|\n|\r|\s)/gm, '').length > 0">
    <div class="container">
      <div class="row">
        <div class="col-md-12" v-html="content.default">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      content: {
        options: Object,
      }
    }
  }
</script>
