
<template>
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Comentarios</h3>
        <div class="content comments">
          <div id="graphcomment"></div>
          <script type="text/javascript">

            /* - - - CONFIGURATION VARIABLES - - - */

            // make sure the id is yours
            window.gc_params = {
              graphcomment_id: 'jaimesempere',

              // if your website has a fixed header, indicate it's height in pixels
              fixed_header_height: 0,
            };

            /* - - - DON'T EDIT BELOW THIS LINE - - - */


            (function() {
              var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
              gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
            })();

          </script>
          <!--<div id="disqus_thread"></div>-->
          <!--<script>-->
            <!--//Disqus-->
            <!--var disqus_config = function () {-->
              <!--this.page.url = '{{post.blog_base_url}}/{{post.slug}}';-->
              <!--this.page.identifier = '{{post.slug}}';-->
              <!--this.page.title = '{{this.get_escaped_quotes_title()}}' ;-->
            <!--};-->
            <!--(function() { // DON'T EDIT BELOW THIS LINE-->
              <!--var d = document, s = d.createElement('script');-->
              <!--s.src = '{{post.s_src_disqus}}';-->
              <!--s.setAttribute('data-timestamp', +new Date());-->
              <!--(d.head || d.body).appendChild(s);-->
            <!--})();-->
          <!--</script>-->
        </div>
      </div>
    </div>
  </section>
</template>


<script>
  export default {
    props: {
      post: {
        options: Object,
      }
    },
    methods: {
      get_escaped_quotes_title() {
        return this.post.attributes["title"].replace("'","").replace('"','');
      }
    }
  }
</script>

<style scoped>
  .content.comments{
    margin-top:40px;
    margin-bottom:60px;
  }
  section /deep/ h3 {
    text-align:center;
    margin-top:60px;
    margin-bottom:50px;
  }
</style>
