
<template>
  <nav class="navbar navbar-expand-lg" v-on-clickaway="away">
    <div class="container">
      <a id="mylogo" class="navbar-brand" href="/">
        <!--JS-->

        <svg width="100px" height="100%"
             viewBox="0 0 300 300"
        ><defs id="SvgjsDefs1755"></defs><g id="SvgjsG1761" featurekey="root" fill="#ffffff"></g>
          <g id="SvgjsG1762" featurekey="container1" fill="#363636" transform="matrix(3,0,0,3,0,5)">
            <path xmlns="http://www.w3.org/2000/svg" fill="" d="M0 0h100v90H0z"></path>
          </g>
          <g id="SvgjsG1763" featurekey="text1" fill="#ffffff" transform="matrix(9.785641891876113,0,0,9.785641891876113,55.675672133972625,2.573204848805744)">
            <path d="M1.88 5.720000000000001 l5.8 0 l0 0.16 c-0.9 0 -0.94 -0.04 -0.94 1.24 l0 9.04 c0 4.82 -4 6.5 -7.26 6.98 l-0.06 -0.16 c1.72 -0.62 3.3 -2.48 3.3 -6.82 l0 -6.6 c0 -3.68 0 -3.68 -0.84 -3.68 l0 -0.16 z M17.22 10.86 c2.64 1.74 3.34 4.3 1.84 6.48 c0 0 -1.08 1.64 -4.54 1.64 c-3.88 0 -5.38 -1.02 -5.38 -1.02 l0 -3.84 l0.18 0 c0.32 1.36 2.06 4.68 5.2 4.68 c2.14 0 2.74 -2.66 0.34 -4.44 l-3.08 -1.94 c-2.84 -1.78 -3.54 -4.22 -1.84 -6.36 c0 0 1.1 -1.52 4.38 -1.52 c3.42 0 4.74 0.92 4.74 0.92 l0 3.36 l-0.18 0 c-0.4 -1.44 -1.36 -4.1 -4.56 -4.1 c-2.16 0 -2.78 2.4 -0.18 4.1 z">
            </path>
          </g>
        </svg>
      </a>
      <button class="navbar-toggler" type="button" v-on:click="show_lateral_menu()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" :style="mystyle">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <nuxt-link to="/" class="nav-link">Inicio</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/about" class="nav-link">SObre</nuxt-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</template>


<script>
  import { directive as onClickaway } from 'vue-clickaway';

  export default {
    directives: {
      onClickaway: onClickaway,
    },
    data: function() {
      return {
        mystyle: 'right:0px'
      }
    },
    methods: {
      show_lateral_menu() {
        this.mystyle= 'right:180px';
      },
      away() {
        this.mystyle= 'right:0px'
      }
    }
  }
</script>


<style>
  #mylogo.navbar-brand {
    /*background: black;*/
    /*line-height: 26px;*/
    /*padding: 4px 4px 4px 6px;*/
    /*border-radius: 4px;*/
    /*color: white;*/
    /*height: 35px;*/
    /*width: 36px;*/
    /*text-align: center;*/
    /*font-family: 'Adamina',sans-serif;*/
  }
  #navbarNav {
    /*margin-left:120px;*/
  }
  .navbar {
    margin-bottom:0px;
  }

</style>
