
<template>

  <header class="navbar navbar-expand navbar-dark bg-light flex-column flex-md-row bd-navbar">

    <div class="navbar-wrapper" style=" max-width: 710px; text-align: center; margin: auto; width: 100%; ">
      <div style="display:block">

      <a class="navbar-brand mylogo mr-0 mr-md-2 navbar-absolute-logo" href="/">
        <svg width="100%" height="100%"
             viewBox="0 0 300 300"
        ><defs id="SvgjsDefs1755"></defs><g id="SvgjsG1761" featurekey="root" fill="#ffffff"></g>
          <g id="SvgjsG1762" featurekey="container1" fill="#363636" transform="matrix(3,0,0,3,0,5)">
            <path xmlns="http://www.w3.org/2000/svg" fill="" d="M0 0h100v90H0z"></path>
          </g>
          <g id="SvgjsG1763" featurekey="text1" fill="#ffffff" transform="matrix(9.785641891876113,0,0,9.785641891876113,55.675672133972625,2.573204848805744)">
            <path d="M1.88 5.720000000000001 l5.8 0 l0 0.16 c-0.9 0 -0.94 -0.04 -0.94 1.24 l0 9.04 c0 4.82 -4 6.5 -7.26 6.98 l-0.06 -0.16 c1.72 -0.62 3.3 -2.48 3.3 -6.82 l0 -6.6 c0 -3.68 0 -3.68 -0.84 -3.68 l0 -0.16 z M17.22 10.86 c2.64 1.74 3.34 4.3 1.84 6.48 c0 0 -1.08 1.64 -4.54 1.64 c-3.88 0 -5.38 -1.02 -5.38 -1.02 l0 -3.84 l0.18 0 c0.32 1.36 2.06 4.68 5.2 4.68 c2.14 0 2.74 -2.66 0.34 -4.44 l-3.08 -1.94 c-2.84 -1.78 -3.54 -4.22 -1.84 -6.36 c0 0 1.1 -1.52 4.38 -1.52 c3.42 0 4.74 0.92 4.74 0.92 l0 3.36 l-0.18 0 c-0.4 -1.44 -1.36 -4.1 -4.56 -4.1 c-2.16 0 -2.78 2.4 -0.18 4.1 z">
            </path>
          </g>
        </svg>
      </a>
    </div>

    <div style="display:flex">

        <div class="navbar-nav-scroll ml-md-auto" style="text-align:center; display: flex; margin: auto;">
          <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
              <nuxt-link to="/" class="nav-link" > <i class="material-icons"></i> Inicio</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/about" class="nav-link" > <i class="material-icons"></i> Sobre</nuxt-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank" rel="noopener"><i class="material-icons"></i> Contacto</a>
            </li>
          </ul>
        </div>
    </div>

    </div>
  </header>
</template>


<style>
  .navbar-wrapper {
    display: flex !important;
  }
  @media only screen and (max-width: 768px) {
    .navbar-wrapper {
      display: block !important;
    }
  }
  .mylogo {
    display: block;
  }
  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }

  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0)
    }
    20%,
    60% {
      transform: rotate(-25deg)
    }
    40%,
    80% {
      transform: rotate(10deg)
    }
  }

  @media (max-width:500px) {
    .github-corner:hover .octo-arm {
      animation: none
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }
  }
  .navbar {
    margin-bottom: 0 !important;
  }
</style>
