<template>
  <div class="card card-raised card-background" :style="{'background-image': 'url(' + post.attributes['image'] + ')'}">
    <div class="card-body">
      <!--<a :href="post.slug">-->
      <nuxt-link :to="{ path: '/'+post.slug }">
        <h4 class="card-title">{{post.attributes["title"]}}</h4>
      </nuxt-link>
      <nuxt-link :to="{ path: '/'+post.slug }" class="btn btn-white btn-link">
        <i class="material-icons">subject</i> Leer artículo
      </nuxt-link>
    </div>
  </div>
</template>


<script>
  export default {
    props: {
      post: {
        options: Object,
      }
    }
  }
</script>
