<template>
  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/">
              Inicio
            </a>
          </li>
          <li>
            <a href="#">
              About
            </a>
          </li>
          <li>
            <a href="#">
              Contacto
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        © 2019, creado en un ataque de ansiedad por
        <a href="#" target="_blank">Jaime Sempere</a>.
        Make blogging fun again
      </div>
    </div>
  </footer>
</template>

<style>
  .footer {
    margin-top:60px;
    border-top: 1px solid #e0e0e0;
    background: #fafafa;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
</style>
