<template>
  <section class="container article-container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-title">
          <h1 class="h2">{{post.attributes['title']}}</h1>
          <img :src="post.attributes['image']" alt="" class="img-raised rounded img-fluid">
        </div>
        <div class="content post" v-html="post.html"></div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      post: {
        options: Object,
      }
    },
  }
</script>

<style scoped>
  section /deep/ h1 {
    text-align: center;
  }
  section.article-container {
    max-width:710px;
  }
  section {
    padding-bottom:40px;
  }
</style>
