<template>
  <div class="card card-raised card-background" :style="{'background-image': 'url(' + post.attributes['image'] + ')'}">
    <div class="card-body">
      <h6 class="card-category text-info">Productivy Apps</h6>
      <!--<a :href="post.slug">-->
      <nuxt-link :to="{ path: '/'+post.slug }">
        <h3 class="card-title">{{post.attributes["title"]}}</h3>
      </nuxt-link>
      <p class="card-description">
        {{post.attributes['excerpt']}}
      </p>
      <nuxt-link :to="{ path: '/'+post.slug }" class="btn btn-white btn-link">
        <i class="material-icons">subject</i> Leer artículo
      </nuxt-link>
      <a href="#pablo" class="btn btn-white btn-link">
        <i class="material-icons">group_add</i> Únete
      </a>
    </div>
  </div>
</template>


<script>
  export default {
    props: {
      post: {
        options: Object,
      }
    }
  }
</script>

