<template>
  <div class="card card-blog">
    <div class="card-header card-header-image">
      <nuxt-link :to="{ path: '/'+post.slug }">
        <div class="post_image" :style="image_style"></div>
      </nuxt-link>
      <div class="colored-shadow" :style="shadow_style"></div>
    </div>
    <div class="card-body ">
      <h4 class="card-title">
        <nuxt-link :to="{ path: '/'+post.slug }">
          {{post.attributes['title']}}
        </nuxt-link>
      </h4>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      post: {
        options: Object,
      }
    },
    data: function () {
      return {
        shadow_style: "background-image: url(" + this.post.attributes['image'] + "); opacity:1",
        image_style: "background-image: url(" + this.post.attributes['image'] + "); opacity:1; height:200px"
      }
    }
  }
</script>

<style scoped>
  .card-title {
    text-align:center;
  }
  .post_image {
    border-radius: 8px;
    background-size: cover;
    background-position: center;
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .card-body {
      min-height:120px;
    }
  }
</style>
