<template>

  <section v-if="related_posts.length>0">
      <div class="container related-posts">

        <div class="row">
          <div class="col-md-12">
            <h3 class="maybe_interesting">Quizá te interese también:</h3>
          </div>
        </div>

        <div class="row">
          <div v-for="post in related_posts" class="col-md-4">
            <related-post :post="post"></related-post>
          </div>
        </div>
      </div>
  </section>

</template>

<script>

  import RelatedPost from '~/components/RelatedPost.vue'

  export default {
    props: {
     related_posts: {
       type: Array,
       required: true
     }
    },
    components: {
      RelatedPost
    },
  }
</script>

<style scoped>
  section /deep/ h3 {
    text-align:center;
    color: #111;
  }
  section {
    background: #e5e5e5;
    padding-top:30px;
    padding-bottom:70px;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
</style>

