<template>
  <section class="container subscription">
    <div class="row">
      <div class="col-md-12" style="color:white">
        <div class="content subscription" v-html="subscription_box.default"></div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      subscription_box: {
        options: Object,
      }
    }
  }
</script>

<style>
  .container.subscription{
    background: #292929;
    max-width: 100%;
    text-align: center;
    color: white;
    padding-bottom:30px;
  }
  .content.subscription{
    margin-bottom:40px;
  }
  .content.subscription h3, .content.subscription p
  {
    color:white;
  }
</style>
