<template>
  <div>

    <navbar/>

    <at-the-top-of-post :content="at_the_top_of_post"></at-the-top-of-post>

    <post :post="post"></post>

    <at-the-end-of-post :content="at_the_end_of_post"></at-the-end-of-post>

    <subscription :subscription_box="subscription_box"></subscription>
    <related-posts :related_posts="related_posts"></related-posts>
    <disqus :post="post"></disqus>
    <myfooter/>

  </div>
</template>

<script>


export default {
  head: {
    script: [
      { src: '/header_scripts.js'}
    ],
  },
  transition: "page",
  async asyncData({ params, error }) {

    function shufflePosts(posts, currentSlug, related_posts) {
      let final_index = posts.length -1 ;
      for (let i = final_index; i > 0; i--){
        const j = Math.floor(Math.random() * i);
        const temp = posts[i];
        posts[i] = posts[j];
        posts[j] = temp;
      }
      let filtered = posts.filter(function(value, index, arr){
        return value.slug !== currentSlug;
      });
      return filtered;
    }

    function getPosts(related_posts) {
      var postsObject = require.context("~/blog/posts/", true, /\.md$/);
      let posts = postsObject.keys().map((key) => { //iterate keys
        postsObject(key)["slug"]= key.slice(2).split('.md')[0]; //we add the slug (slice(2) is for removing "./" chars)
        return postsObject(key);
      });
      return shufflePosts(posts, params.post, related_posts);
    }

    try {

      try {
        let post = await import(`~/blog/posts/${params.post}.md`);
        return build_post_and_object_to_return(post);
      }
      catch(err){
        let page = await import(`~/blog/pages/${params.post}.md`);
        return build_post_and_object_to_return(page);
      }

    } catch(err) {
      console.debug(err);
      // error({ statusCode: 404, message: 'Post not found' })
    }

    async function build_post_and_object_to_return(post) {

      let subscription_box = await import('~/blog/config/subscription_box.html');
      let at_the_end_of_post = await import('~/blog/config/at_the_end_of_post.html');
      let at_the_top_of_post = await import('~/blog/config/at_the_top_of_post.html');
      console.log('at_the_top_of_post',at_the_top_of_post.default.length)
      post.blog_base_url = process.env.blog_base_url;
      post.s_src_disqus = process.env.s_src_disqus;

      return {post: post,
              subscription_box: subscription_box,
              related_posts: getPosts(post.attributes.related_posts).slice(0,3),
              at_the_end_of_post: at_the_end_of_post,
              at_the_top_of_post: at_the_top_of_post
      };

    }

  }
}
</script>

<style>
  /*@font-face {*/
    /*font-family: 'kiev';*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*src: url('https://github.com/lcdvirgo/bootstrap/blob/master/assets/fonts/%5BFontFont%5D%20Kievit/KievitOT-Regular.otf') format('openype');*/
  /*}*/
  p {
    /*font-family: kiev !important;*/
  }
  .page-enter-active,
  .page-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }
  .card-header-image {
    background-size: cover;
    background-position-y: center;
  }
  </style>
