<template>

    <div>

      <navbar/>

      <section class="container posts">

        <h4 style="font-weight:300; text-align: center; max-width:900px; margin:auto">Sonríe. Baila. Escribe tu historia. Deja un legado.</h4>
        <h5 style="font-weight:300; color:#888; text-align: center; max-width:900px; margin:auto">Y que no te de miedo hacer un poco el tonto por el camino</h5>

        <div v-for="post in posts" :key="post.attributes['title']" style="max-width:900px; margin:auto; padding-left:10px; padding-right:10px">
          <post-card :post="post"></post-card>
        </div>

        <div class="pagination-buttons">

          <nuxt-link to="page/2" class="pagination-link">
            <button class="btn btn-social btn-fill btn-github">
                  Siguiente página >
            </button>
          </nuxt-link>
        </div>

      </section>

      <myfooter/>

    </div>

</template>

<script>


  export default {
    methods: {
    },
    async asyncData() {

      function compare_dates(post_a, post_b) {
        let a = post_a.attributes['date'];
        let b = post_b.attributes['date'];
        let a_compare_format = a.split('-')[2] + a.split('-')[1] + a.split('-')[0];
        let b_compare_format = b.split('-')[2] + b.split('-')[1] + b.split('-')[0];
        if (a_compare_format>b_compare_format) {
          return -1;
        }
        return 1
      }

      const postsObject = require.context("~/blog/posts/", true, /\.md$/);
      const posts = postsObject.keys().map((key) => { //iterate keys
        postsObject(key)["slug"]= key.slice(2).split('.md')[0]; //we add the slug (slice(2) is for removing "./" chars)
        return postsObject(key);
      });
      return {
        posts: posts.sort(compare_dates).slice(0,2)
      }
    },
  }
</script>

<style>
  .pagination-link{
    color:#fcfcfc;
  }
  .pagination-link:hover{
    color:#ccc;
  }
  .pagination-buttons{
    max-width:900px;
    padding-left:10px; padding-right:10px;text-align: center;
    margin: 80px auto;
  }
  .container.posts {
    padding-top:30px;
  }
</style>
