.pagination-link{color:#fcfcfc}.pagination-link:hover{color:#ccc}.pagination-buttons{max-width:900px;padding-left:10px;padding-right:10px;text-align:center;margin:80px auto}.container.posts{padding-top:30px}