.page-enter-active,.page-leave-active{transition-property:opacity;transition-timing-function:ease-in-out;transition-duration:.5s}.page-enter,.page-leave-to{opacity:0}.card-header-image{background-size:cover;background-position-y:center}